%h1
  Editing Post &nbsp; 
  .btn-group
    = link_to 'View Post', @post, class: "btn btn-default", target: "_blank"
    = link_to 'Back to Posts', cms_posts_path, class: "btn btn-default"
= render 'form'
