body { padding-top: 50px; }
h1{ margin-bottom: 40px; }
.clear{ clear:both; }

// Hack so I don't have to load font-awesome for markdown editor. 
.fa{ @extend .glyphicon; }
.fa-bold { @extend .glyphicon-bold; }
.fa-italic { @extend .glyphicon-italic; }
.fa-link { @extend .glyphicon-link; }
.fa-picture-o { @extend .glyphicon-picture; }
.fa-quote-left {  @extend .glyphicon-comment;  }
.fa-code { @extend .glyphicon-console; }
.fa-list-ul{ @extend .glyphicon-list; }
.fa-list-ol { @extend .glyphicon-list-alt; }
.fa-font { @extend .glyphicon-font; }
.fa-undo { @extend .glyphicon-remove-circle; }
.fa-repeat { @extend .glyphicon-repeat; }
.fa-info { @extend .glyphicon-search; }
.wmd-preview{ margin-top:32px; height:414px; }

.notices{
  .flash{
    padding: 15px;
  }
}

.navbar{
  margin-bottom:0;
  border-radius:0;
  box-shadow: 0px 1px 3px #696969;
}

.form-errors{
  color: maroon;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.tab-pane{
  padding:20px
}


.menu{
  margin-top:40px;

  a{
    border-bottom:0 none;    
    &:hover{

    }
  }
  li{
    list-style-type:none;
  }
}


.del-row{
  font-size: 20px;
  color: #797979;
  padding-top: 5px;
  display: inline-block;
  &:hover{
    color:#a94442; 
    cursor:pointer;
  }
}

.tag-edit-form{ padding: 12px 10px 2px; background-color: #F5F5F5; border-top:1px solid #dddddd; }


.color-preview{display: inline-block; width: 20px; height: 20px; border-radius: 20px; float: right; margin: -27px 6px 0 0;}

.tag-btns{ text-align:center; }
.tags-recompile {margin:5px 0 0 15px; float:right}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .tag-edit-form:nth-child(2n-1){ background-color:#FFFFFF; }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .tag-btns{ text-align:center; }
  .tag-edit-form .form-group{margin-bottom: 10px!important;}
  .color-preview{float:none; margin:0 0 0 -30px; vertical-align: middle; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .tag-edit-form:nth-child(4n+4), 
  .tag-edit-form:nth-child(4n-1){ background-color:#FFFFFF; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}