.post-tag.post-mgmt { border-color: #1CE1CE; color: #1CE1CE; } 
.post-tag.post-mgmt:hover{ background-color:#1CE1CE; } 
.post-tag.post-indy { border-color: #B54A6E; color: #B54A6E; } 
.post-tag.post-indy:hover{ background-color:#B54A6E; } 
.post-tag.post-jeff-buckley { border-color: #6BFA05; color: #6BFA05; } 
.post-tag.post-jeff-buckley:hover{ background-color:#6BFA05; } 
.post-tag.post-rock { border-color: #000E29; color: #000E29; } 
.post-tag.post-rock:hover{ background-color:#000E29; } 
.post-tag.post-u2 { border-color: #95C454; color: #95C454; } 
.post-tag.post-u2:hover{ background-color:#95C454; } 
.post-tag.post-dirty-beaches { border-color: #EC1378; color: #EC1378; } 
.post-tag.post-dirty-beaches:hover{ background-color:#EC1378; } 
.post-tag.post-electro-rock { border-color: #1FE0D0; color: #1FE0D0; } 
.post-tag.post-electro-rock:hover{ background-color:#1FE0D0; } 
.post-tag.post-luna { border-color: #EC200E; color: #EC200E; } 
.post-tag.post-luna:hover{ background-color:#EC200E; } 
.post-tag.post-the-velvet-underground { border-color: #88718E; color: #88718E; } 
.post-tag.post-the-velvet-underground:hover{ background-color:#88718E; } 
.post-tag.post-lou-reed { border-color: #BADA55; color: #BADA55; } 
.post-tag.post-lou-reed:hover{ background-color:#BADA55; } 
.post-tag.post-common-rider { border-color: #FACADE; color: #FACADE; } 
.post-tag.post-common-rider:hover{ background-color:#FACADE; } 
.post-tag.post-punk { border-color: #47A1B8; color: #47A1B8; } 
.post-tag.post-punk:hover{ background-color:#47A1B8; } 
.post-tag.post-say-hi { border-color: #E35F68; color: #E35F68; } 
.post-tag.post-say-hi:hover{ background-color:#E35F68; } 
.post-tag.post-jethro-tull { border-color: #067BF9; color: #067BF9; } 
.post-tag.post-jethro-tull:hover{ background-color:#067BF9; } 
.post-tag.post-the-drums { border-color: #F26C0D; color: #F26C0D; } 
.post-tag.post-the-drums:hover{ background-color:#F26C0D; } 
.post-tag.post-rasco { border-color: #798CE6; color: #798CE6; } 
.post-tag.post-rasco:hover{ background-color:#798CE6; } 
.post-tag.post-hip-hop { border-color: #966969; color: #966969; } 
.post-tag.post-hip-hop:hover{ background-color:#966969; } 
.post-tag.post-vampire-weekend { border-color: #B6497A; color: #B6497A; } 
.post-tag.post-vampire-weekend:hover{ background-color:#B6497A; } 
.post-tag.post-rancid { border-color: #7D7F82; color: #7D7F82; } 
.post-tag.post-rancid:hover{ background-color:#7D7F82; } 
.post-tag.post-bill-wyman { border-color: #49B6A8; color: #49B6A8; } 
.post-tag.post-bill-wyman:hover{ background-color:#49B6A8; } 
.post-tag.post-britney-spears { border-color: #DE1E7E; color: #DE1E7E; } 
.post-tag.post-britney-spears:hover{ background-color:#DE1E7E; } 
.post-tag.post-awesome { border-color: #B00B00; color: #B00B00; } 
.post-tag.post-awesome:hover{ background-color:#B00B00; } 
