.post-tag.post-reggae { border-color: #A35816; color: #A35816; } 
.post-tag.post-reggae:hover{ background-color:#A35816; } 
.post-tag.post-sizzla { border-color: #E79F8A; color: #E79F8A; } 
.post-tag.post-sizzla:hover{ background-color:#E79F8A; } 
.post-tag.post-apocalypse { border-color: #ABCDED; color: #ABCDED; } 
.post-tag.post-apocalypse:hover{ background-color:#ABCDED; } 
.post-tag.post-chinchilla { border-color: #000000; color: #000000; } 
.post-tag.post-chinchilla:hover{ background-color:#000000; } 
.post-tag.post-demise { border-color: #72249C; color: #72249C; } 
.post-tag.post-demise:hover{ background-color:#72249C; } 
.post-tag.post-entropy { border-color: #CD919E; color: #CD919E; } 
.post-tag.post-entropy:hover{ background-color:#CD919E; } 
.post-tag.post-figurative { border-color: #D0BEEF; color: #D0BEEF; } 
.post-tag.post-figurative:hover{ background-color:#D0BEEF; } 
.post-tag.post-gravity { border-color: #696969; color: #696969; } 
.post-tag.post-gravity:hover{ background-color:#696969; } 
.post-tag.post-hereditory { border-color: #EADBEF; color: #EADBEF; } 
.post-tag.post-hereditory:hover{ background-color:#EADBEF; } 
.post-tag.post-ignites { border-color: #E96898; color: #E96898; } 
.post-tag.post-ignites:hover{ background-color:#E96898; } 
.post-tag.post-jubilee { border-color: #44998A; color: #44998A; } 
.post-tag.post-jubilee:hover{ background-color:#44998A; } 
.post-tag.post-kryptonite { border-color: #DADD1E; color: #DADD1E; } 
.post-tag.post-kryptonite:hover{ background-color:#DADD1E; } 
.post-tag.post-latitude { border-color: #FEEDA1; color: #FEEDA1; } 
.post-tag.post-latitude:hover{ background-color:#FEEDA1; } 
.post-tag.post-meteor { border-color: #F00D1E; color: #F00D1E; } 
.post-tag.post-meteor:hover{ background-color:#F00D1E; } 
.post-tag.post-orange { border-color: #BEEFEE; color: #BEEFEE; } 
.post-tag.post-orange:hover{ background-color:#BEEFEE; } 
.post-tag.post-pepper { border-color: #B00B1E; color: #B00B1E; } 
.post-tag.post-pepper:hover{ background-color:#B00B1E; } 
.post-tag.post-quail { border-color: #BAFFAB; color: #BAFFAB; } 
.post-tag.post-quail:hover{ background-color:#BAFFAB; } 
.post-tag.post-resilient { border-color: #EFBA05; color: #EFBA05; } 
.post-tag.post-resilient:hover{ background-color:#EFBA05; } 
.post-tag.post-tyranny { border-color: #0ECA98; color: #0ECA98; } 
.post-tag.post-tyranny:hover{ background-color:#0ECA98; } 
.post-tag.post-verdant { border-color: #886988; color: #886988; } 
.post-tag.post-verdant:hover{ background-color:#886988; } 
.post-tag.post-willing { border-color: #313371; color: #313371; } 
.post-tag.post-willing:hover{ background-color:#313371; } 
.post-tag.post-xavier { border-color: #345ABC; color: #345ABC; } 
.post-tag.post-xavier:hover{ background-color:#345ABC; } 
.post-tag.post-yak { border-color: #BEDDED; color: #BEDDED; } 
.post-tag.post-yak:hover{ background-color:#BEDDED; } 
.post-tag.post-zorb { border-color: #D00D1E; color: #D00D1E; } 
.post-tag.post-zorb:hover{ background-color:#D00D1E; } 
.post-tag.post-some shit { border-color: #C4C4C4; color: #C4C4C4; } 
.post-tag.post-some shit:hover{ background-color:#C4C4C4; } 
.post-tag.post-something else { border-color: #C4C4C4; color: #C4C4C4; } 
.post-tag.post-something else:hover{ background-color:#C4C4C4; } 
.post-tag.post-somethinf { border-color: #AB1F00; color: #AB1F00; } 
.post-tag.post-somethinf:hover{ background-color:#AB1F00; } 
.post-tag.post-shit { border-color: #FD4634; color: #FD4634; } 
.post-tag.post-shit:hover{ background-color:#FD4634; } 
