/ Sidebar
#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %a{:href => "#"}
        SimpleCMS
    %li
      %a{:href => "#"} Dashboard
    %li
      = link_to "Pages", pages_path
    %li
      %a{:href => "#"} Posts
    %li
      %a{:href => "#"} Menus
    %li
      %a{:href => "#"} Settings

