.post-tag{
  display:inline-block;
  margin:0px 2px;
  padding:3px;
  border-radius:3px;
  line-height:0.9em;
  font-size:0.8em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
  border:1px solid #C4C4C4;
  color: #C4C4C4;
  &:hover{
    background-color: #C4C4C4;
  }
}
.tag-remove{color:#c5c5c5; font-size:0.8em; margin-right:10px;}
.post-tag:hover{color:#FFF!important}

@import url('tags.css')
