/ Sidebar
#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = link_to "SimpleCMS", cms_path
    %li
      = link_to "Dashboard", cms_path
    %li
      = link_to "Pages", cms_pages_path
    %li
      %a{:href => "#"} Posts
    %li
      %a{:href => "#"} Menus
    %li
      %a{:href => "#"} Settings
    %li
      =link_to "Sign Out", destroy_admin_session_path, :method => :delete

