%h1
  Editing Page &nbsp; 
  .btn-group
    = link_to 'View Page', @page, class: "btn btn-default", target: "_blank"
    = link_to 'Back to Pages', pages_path, class: "btn btn-default"
= render 'form'
