/ Footer
%footer#footer
  %ul.icons
    - Settings.get_all('social.').each_pair do |name,link|
      - if link.length > 1
        %li
          = link_to link, class: "icon fa-#{setting_class(name)}" do  
            %span.label 
              = setting_name(name)

  %ul.copyright
    %li 
      =Settings['site.copyright_text'].html_safe
    %li
      Design:
      %a{:href => "http://html5up.net"} HTML5 UP
