%header#header
  %a.image.avatar{:href => "/"}
    = image_tag "public/avatar.jpg", alt: "Avatar"
  %h1
    = markdown(Settings['site.site_description'].gsub('\\',"\n"))
  =render "layouts/public/menu"
