- title current_page?(root_url) ? "" : "Posts"
.wrapper
  %ul.post-list
    - @posts.each do |post|
      %li.post.tag.name
        %h2
          %span.post-date
            = post.created_at.strftime("%d.%m.%y")
          = link_to post.title, post, class: "post-link"
          %a{"href" => "/tag/code", "class" => "post-tag post-code"}
            code
          %a{ "href" => "/tag/ruby", "class" => "post-tag post-ruby"}
            ruby

  .text-right
    = will_paginate @posts, renderer: BootstrapPagination::Rails