%h1
  Editing Page &nbsp; 
  .btn-group
    = link_to 'View Page', @page, class: "btn btn-default", target: "_blank"
    = link_to 'Back to Pages', cms_pages_path, class: "btn btn-default"
    = link_to 'Add New Page', new_cms_page_path, class: "btn btn-primary"
= render 'form'
