!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "A simple CMS application built in rails", :name => "description"}/
    %meta{:content => "Pat Horsley", :name => "author"}/
    %title Simple Rails CMS
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  %body
    #wrapper
      =render "layouts/admin/sidebar"
      / Page Content
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              .notices
                =content_tag :div, flash[:notice], class: "flash bg-success" if flash[:notice]
                =content_tag :div, flash[:alert], class: "flash bg-danger" if flash[:alert]
              = yield
