!!!
/
  Strata by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  =render 'layouts/public/head'
  %body#top
    =render 'layouts/public/header'
    #main
      %section
        =render 'layouts/public/notices' if flash[:notice] || flash[:alert]
        = yield
      -# =render 'layouts/public/section_1'
    =render 'layouts/public/footer'
    = javascript_include_tag 'public', 'data-turbolinks-track' => true
